@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.app {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 4rem auto 3rem;
    height: 100vh;
    background: rgb(44, 43, 48);
    background: linear-gradient(
        90deg,
        rgba(44, 43, 48, 0) 0%,
        rgba(214, 214, 214, 0.12394034762342432) 50%,
        rgba(44, 43, 48, 0) 100%
    );
    row-gap: 5px;
}

header {
    grid-area: header;
    background-color: none;
    padding: 1rem auto;
    background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.025));
    width: 100vw;
}

.left {
    color: #2c2b30;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    cursor: default;
}
.left > .fas {
    color: #e94629;
    padding: 0 0.25rem;
    font-size: 2.5rem;
}

footer {
    grid-area: footer;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.025));
}
p {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-size: 0.75rem;
}

/*main area*/
.hiden {
    opacity: 0;
}
main {
    grid-area: main;
    background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.025));
    display: flex;
    align-items: center;
    color: #d6d6d6;
}
.content {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.srch-input {
    width: 30rem;
    padding: 15px;
    border: none;
    color: #d6d6d6;
    border-radius: 10px;
    outline: none;
    background: #2c2b30;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.srch-input::placeholder {
    color: #d6d6d6;
}
.result-box {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.climate {
    height: 32.5rem;
    width: 20rem;
    margin-right: 0.25rem;
    background: #d6d6d6;
    color: #2c2b30;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.location {
    font-size: 1.5rem;
}
.forecast {
    color: black;
    height: 32.5rem;
    width: 20rem;
    margin-left: 0.25rem;
    background: #f58f7c;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box1 > img {
    height: 15rem;
    margin: -1.75rem auto;
}
.box2 {
    font-size: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weatherType {
    font-size: 1.25rem;
    margin: -1rem 0 2rem 0;
}
.box3 {
    color: #d6d6d6;
    background: #2c2b30;
    margin: 0.25rem auto 0 auto;
    border-radius: 0 0 10px 10px;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.box3 span {
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px rgba(0, 0, 0, 0.082) solid;
}
.collection {
    margin: 1.5rem auto;
}
.box {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
    width: 90%;
    height: 3rem;
    margin: 0.75rem auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.25rem;
    transition: 0.5s;
}
.box:hover {
    transform: scale(1.05);
}
.box .date {
    max-width: 8rem;
    font-size: 1rem;

    margin-left: 0rem;
}
.box .temp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temp > * {
    font-weight: bold;
    margin: 0.25rem;
}
img {
    padding: 0 0.75rem;
    height: 2.5rem;
    margin: 0 0 0 -10px;
}

@media screen and (max-width: 750px) {
    .content {
        max-width: 30rem;
    }
    .srch-input {
        width: 25rem;
    }
    .climate {
        width: 25rem;
        margin: 0 0 auto 0;
    }

    .forecast {
        margin: 3rem 0 auto 0;
        width: 25rem;
    }
}

@media screen and (max-width: 450px) {
    .content {
        max-width: 20rem;
    }
    .srch-input {
        width: 20rem;
    }
    .climate {
        width: 20rem;
        margin: 0 0 auto 0;
    }

    .forecast {
        margin: 3rem 0 auto 0;
        width: 20rem;
    }
}

@media screen and (max-width: 330px) {
    .content {
        max-width: 18rem;
    }
    .srch-input {
        width: 18rem;
    }
    .climate {
        width: 18rem;
        margin: 0 0 auto 0;
    }

    .forecast {
        margin: 3rem 0 auto 0;
        width: 18rem;
    }
    .left {
        font-size: 1rem;
    }
}

@media screen and (max-width: 290px) {
    .content {
        max-width: 15rem;
    }
    .srch-input {
        width: 15rem;
    }
    .climate {
        width: 15rem;
        margin: 0 0 auto 0;
    }
    .box1 {
        font-size: 2rem;
    }
    .box2 {
        font-size: 4rem;
    }

    .heading {
        font-size: 1.25rem;
    }
    .box > * {
        font-size: 0.75rem;
    }
    .forecast {
        margin: 3rem 0 auto 0;
        width: 15rem;
    }
    .left {
        font-size: 1rem;
    }
}
